{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<div class="d-flex h-100 justify-content-center">
    {% comment %} <div class=""> {% endcomment %}
    <div class="container w-50 m-5 bg-success rounded p-5 text-white border border-dark">

        <h1>Login</h1>

        <form method="POST" action="" class="my-4">
            {% csrf_token %}
            <table class="form-group">
                <tr>
                    <td class="fw-semibold">Username : </td>
                    <td><input class="form-control m-1" type="text" name="username" placeholder="Username"></td>
                </tr>
                        
                <tr>
                    <td class="fw-semibold">Password : </td>
                    <td><input class="form-control m-1" type="password" name="password" placeholder="Password"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input class="btn btn-primary my-1 fw-bold" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Don't have an account yet? <a class="text-white" href="{% url 'main:register' %}">Register Now</a>

    </div>
</div>

{% endblock content %}