{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asdos Tracker</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Asdos Tracker!</h1>
            <p>A place where you can track your asdos log</p>
        </header>

        <section>
            <h2>Asdos Information</h2>
            <h5>Name:</h5>
            <p>{{ name }}</p>
            <h5>Class:</h5>
            <p>{{ class }}</p>
        </section>

        <h3>Kamu telah mencatat {{jenis_items}} log dengan jumlah waktu {{total_items}} jam</h3>
        <!-- TABLE -->
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
            
            </tr>
        
            {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
        
            {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.description}}</td>
                  
                </tr>
            {% endfor %}
        </table>
        
        <br />
        
        <a href="{% url 'main:create_item' %}">
            <button>
                Add New Item
            </button>
        </a>
        
    </body>
    </html>

{% endblock content %}